body {
    background-color: #f7f2c6;
}

.prompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction {
    background-color: aliceblue;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
}

.end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.btn {
    width: fit-content;
    padding: 10px 20px;
    background-color: aliceblue;
    color: #007BFF;
    border-radius: 5px;
    border: 0px solid #007BFF;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#exit-btn {
    background-color: #e01414;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.grid{
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    display: none;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
#box2:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    transform:
        perspective(1px)
        translateZ(0);
}

#box1 {
    background-color: #ec4343;
    border: 2px solid rgb(218, 111, 111);
    transition: all 1s ease;
    color: #cce5ff;
}
#box2 {
    background-color: #4089db;
    border: 2px solid rgb(160, 209, 241);
    box-shadow: 0 8px 12px rgb(0, 0, 0);
    color: #e5e5ec;
    transform:
        perspective(1px)
        translateZ(0);
    transition: 
        box-shadow 0.3s,
        transform 0.3s;
}

.result{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    width: 40%;
    font-size: 1.5vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    border-radius: 5px;
}
.score{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #343a40;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.num{
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 1rem;
    font-weight: 300;
    color: #343a40;
}
#pul{
    color: #007BFF;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 600;
}
#cor{
    color: #80e972;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 600;
}
#wrn{
    color: #ec4343;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 600;
}
#container {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
}
.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

#timer-box{
    margin: auto;
    margin-top: 5vh;
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 70px;
    width: 200px;
    padding: 0 19px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

#time-left-txt{
    font-weight: 400;
    font-size: 20px;
    user-select: none;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 500;
    height: 50px;
    width: 70px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.animate:before{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vh;
    height: 23vh;
    border-radius: 100%;
    position:absolute;
    content:'';
    border:5px solid #350704;
    animation:animate 0.5s linear infinite;
}
.animate:after{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vh;
    height: 23vh;
    border-radius: 100%;
    position:absolute;
    content:'';
    border:5px solid #ec8585;
    animation:animate 0.5s 0.25s linear infinite;
}
@keyframes animate{
    100%{
        transform:scale(2);
        opacity:0
    }
}

@media (max-width: 775px) {
    .result{
        width: 80%;
        font-size: 2vw;
    }
    .num{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        font-size: 1.2rem;
        font-weight: 300;
    }
    #pul{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-weight: 600;
    }
    #cor{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-weight: 600;
    }
    #wrn{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-weight: 600;
    }
    .btn{
        font-size: 5px;
    }
}

@media (max-width: 1358px) {
    .result{
        width: 80%;
        font-size: 2vw;
    }
    .num{   
        font-size: 1.2rem;
        font-weight: 300;
    }
    #pul{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-weight: 600;
    }
    #cor{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-weight: 600;
    }
    #wrn{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-weight: 600;
    }
}

@media (max-width: 820px) {
    #timer-box{
        height: 57px;
        width: 145px;
    }
    #timer{
        height: 42px;
        width: 45px;
        font-size: 14px;
    }
    #timer-left-txt{
        font-size: 14px;
    }
    .result{
        width: 80%;
        font-size: 2vw;
        margin-bottom: 10px;
    }
    .num{   
        font-size: 1.2rem;
        font-weight: 300;
    }
    #pul{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        font-weight: 600;
    }
    #cor{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        font-weight: 600;
    }
    #wrn{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        font-weight: 600;
    }
    .btn {
        font-size: 25px;
    }
}

@media (max-width: 402px) {
    .result{
        width: 80%;
        font-size: 2vw;
        margin-bottom: 30px;
    }
    #container{
        top: 85%;
        font-size: 15px;
    }
}