.btn {
    width: 120px;
    padding: 10px 20px;
    background-color: #2a47ec;
    color: aliceblue;
    border-radius: 5px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.grid {
    margin-top:    1rem;
    margin-left:   1rem;
    margin-right:  1rem;
    margin-bottom: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows:    repeat(10, 50px);
    column-gap:  60px;
    row-gap:     18px;
    padding:     0%;
    font-size:   20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#exit-btn{
    background-color: #e01414;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.box { 
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(187, 191, 209);
    border-radius: 100%;
    background-color: rgb(55, 55, 201);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
} 

#result{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    width: 80%;
    font-size: 1.5vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    border-radius: 5px;
}
#pul{
    color: #007BFF;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 600;
}
#cor{
    color: #80e972;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 600;
}
#wrn{
    color: #ec4343;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 600;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #343a40;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.num{
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 1rem;
    font-weight: 300;
    color: #343a40;
}

#container {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#timer-box{
    margin: auto;
    margin-top: 1vh;
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 65px;
    width: 160px;
    padding: 0 19px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

#time-left-txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    width: 60px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

#logo{
    font-size: 50px;
}

@media (max-width: 1048px) {
    .grid{
        column-gap: 25px;
        row-gap:    15px;
    }
}

@media (max-width: 728px) {
    .grid{
        column-gap: 10px;
        row-gap:    20px;
        font-size:  17px;
        grid-template-columns: repeat(10, 35px);
        grid-template-rows:    repeat(10, 35px);
    }
    .box{
        padding: 0.5px;
    }
    #logo{
        font-size: 40px;
    }
    .score{
        font-size: 1rem;
    }
    .num{
        font-size: 0.75rem;
    }
}

@media (max-width: 446px) {
    .grid{
        column-gap: 5px;
        row-gap:    20px;
        font-size:  17px;
        grid-template-columns: repeat(10, 30px);
        grid-template-rows:    repeat(10, 30px);
    }
    #logo{
        font-size: 30px;
    }
    .box{
        padding: 0.5px;
    }
    
    .score{
        font-size: 15px;
    }
    .num{
        font-size: 10px;
    }
}

.animate:before{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position:absolute;
    content:'';
    border:5px solid #97db85;
    animation:animate 0.5s linear infinite;
}
.animate:after{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position:absolute;
    content:'';
    border:5px solid #066316;
    animation:animate 0.5s 0.25s linear infinite;
}
@keyframes animate{
    100%{
        transform:scale(2);
        opacity:0;
    }
}
