.btn {
    padding: 10px 20px;
    background-color: #2a47ec;
    color: aliceblue;
    border-radius: 5px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.grid {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    column-gap: 80px;
    row-gap: 45px;
    padding: 0%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box { 
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(102, 182, 106);
    border-radius: 100%;
    background-color: rgb(55, 55, 201);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
} 

#result{
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    width: 30%;
    height: 50%;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {
    border-spacing: 1.5px;
    border-collapse: collapse;
    border-radius: 20px;
    background-color: rgba(0, 200, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

td, th {
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(30, 200, 30, 1);
    text-align: center;
}
th:first-child {
    border-top-left-radius: 20px;
}
th:last-child {
    border-top-right-radius: 20px;
}

#container {
    display: none;
    height: 200px;
    position: relative;
}
.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

#timer-box{
    margin: auto;
    margin-top: 1vh;
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 65px;
    width: 160px;
    padding: 0 19px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

#time-left-txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    width: 60px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

@media (max-width: 1101px) {
    .grid {
        grid-template-columns: repeat(10, 20px);
        grid-template-rows: repeat(10, 20px);
        column-gap: 60px;
        row-gap: 60px;
      
        font-size: 15px;
    }
}

@media (max-width: 841px) {
    .grid {
        padding: 0%;
        grid-template-columns: repeat(10, 5px);
        grid-template-rows: repeat(10, 5px);
        column-gap: 20px;
        row-gap: 40px;
      
        font-size: 1px;
    }
    #timer-box{
        height: 40px;
        width: 100px;
        padding: 0 19px;
    }
    #time-left-txt{
        font-weight: 400;
        font-size: 13px;
    }
    #timer{
        font-size: 16px;
        font-weight: 500;
        height: 30px;
        width: 40px;
        border-radius: 5px;
        line-height: 30px;
    }
}
