.btn {
    padding: 10px 20px;
    background-color: #2a47ec;
    color: aliceblue;
    border-radius: 5px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.grid {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 4vh);
    grid-template-rows: repeat(10, 4vh);
    column-gap: 6vw;
    row-gap: 4vh;
    font-size: 2vh;
}

.box { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(102, 182, 106);
    border-radius: 100%;
    background-color: rgb(55, 55, 201);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
} 

#result{
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    width: 30%;
    height: 50%;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {
    border-spacing: 1.5px;
    border-collapse: collapse;
    border-radius: 20px;
    background-color: rgba(0, 200, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

td, th {
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(30, 200, 30, 1);
    text-align: center;
}
th:first-child {
    border-top-left-radius: 20px;
}
th:last-child {
    border-top-right-radius: 20px;
}

#container {
    display: none;
    height: 200px;
    position: relative;
}
.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .grid {
        margin-top: 1rem;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(10, 4vw);
        grid-template-rows: repeat(10, 4vw);
        column-gap: 4vw;
        row-gap: 5vh;
        font-size: 2vh;
    }
    .result{
        width: 60%;
        height: 60%;
        font-size: 2.5vw;
    }
}
