<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='ACE/language/language2.css')}}">
   <!-- sweet alert-->
    <title>ACE III</title>
</head>
<body>
  {% block content %}
  <div class="container">
    <div class="d-flex justify-content-center align-items-center row">
      <div class="col-md-8 col-lg-8">
         <div class="border">
          
            <div class="p-4 bg-primary text-white border-bottom">
           
              <span class="heading">
               <h4 >Repeat and Record given words</h4>          
               <h5 id="recognition-status"> </h5>
               <a href="{{ url_for('ace_results') }}" style="display: inline-block; padding:8px 22px; background-color: #4CAF50; color: #fff; text-decoration: none; border-radius: 4px; font-size: 14px; margin-right: 10px; ">Exit</a>
 
             </span>
             </div>
            
            <div class="words bg-white p-3 border-bottom">
              <div class="container-fluid">
                <div class="row align-items-center">
                  <div class="col-md-6 col-lg-9">
                    <h5 id="w1"> </h5>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="mr-5 d-flex flex-row  justify-content-between align-items-center">
                      <button onclick="textToAudio(0)" type="button" class="audio-btn btn btn-outline-primary"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                      <button onclick="audioToText(0)" type="button"  class="record-btn btn btn-outline-primary"><i class="fa fa-microphone"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
          
          <div class="words bg-white p-3 border-bottom">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-6 col-lg-9">
                  <h5 id="w2"> </h5>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="mr-5 d-flex flex-row  justify-content-between align-items-center">
                    <button onclick="textToAudio(1)" type="button" class="audio-btn btn btn-outline-primary"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                    <button onclick="audioToText(1)" type="button"  class="record-btn btn btn-outline-primary"><i class="fa fa-microphone"></i></button>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
      
        <div class="words bg-white p-3 border-bottom">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-6 col-lg-9">
                <h5 id="w3"> </h5>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="mr-5 d-flex flex-row  justify-content-between align-items-center">
                  <button onclick="textToAudio(2)" type="button" class="audio-btn btn btn-outline-primary"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                  <button onclick="audioToText(2)" type="button"  class="record-btn btn btn-outline-primary"><i class="fa fa-microphone"></i></button>
                </div>
              </div>
            </div>
          </div>
          
      </div>
    
            <!-- //buttons -->
            <div class="next-btn words bg-white p-4 border-bottom">
              
              <span><button type="button" onclick="scoring()"  class="px-5 btn btn-lg btn-primary">Next</button> </span>
              
              
          </div>
         </div>
        </div>
    </div>
  </div>

   {% endblock content %} 
</body>
<script> var nextUrl = "{{url}}"</script>
<script type="text/javascript">
  window.history.forward();
  function noBack() { window.history.forward(); }
</script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'ACE/language/language2.js') }}" ></script>
</html>
