<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='ACE/language/language4.css')}}">
    
    <title>Grammar</title>
</head>
<style>
  .next-btn{
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  @media (max-width :300px){
    .next-btn{
      display: flex;
     flex-direction: column;
     justify-content: center;
     
    }
    button{
      text-align: center;
    }

  }
</style>
<body>
  {% block content %}
  <div class="container">
    <div class="d-flex justify-content-center align-items-center row">
      <div class="col-md-8 col-lg-8">
         <div class="border">
         
            <div class="p-5 bg-primary text-white border-bottom">
             
                
                <h4 id="heading" style="display: inline-block; margin-bottom: 4%;">Write two complete sentences on any topic you like, but do not use any names of people or places within them</h4>
                <h5 id="error"></h5>
              
            </div>
        <form id="myForm" method="POST">
          <div class="words bg-white p-2 border-bottom">
            
              <div class="mr-5 d-flex flex-row justify-content-between align-items-center q1">
                <label for="first">Write first sentence</label>
              </div>
              <input type="text" id="first" name="first-sentence" placeholder="Type text here" maxlength="130">
            </div>

              <div class="words bg-white p-2 border-bottom">
                <div class="mr-5 d-flex flex-row justify-content-between align-items-center">
                  <label for="second">Write second sentence</label>
                </div>
                <input type="text" id="second" name="second-sentence" placeholder="Type text here" maxlength="130">
              </div>
          <!-- button -->
        <div class=" next-btn words bg-white p-4 border-bottom">
          <div>  
          <button type="button" class="px-4 btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Exit</button>
          </div>
          <div><button type="button" id="next-btn"  class="px-4 btn  btn-primary">Next</button> </div>
          
      </div>   
            </form>
   
         </div>
        </div>
    </div>
  </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to exit ?</h5>
        
      </div>
      
      <div class="modal-footer" style="display:flex; justify-content: space-between;" >
        <a href="{{ url_for('ace_results') }}">
        <button type="button" class="btn btn-primary">Yes</button>
      </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        
      </div>
    </div>
  </div>
</div>
   {% endblock content %} 
</body>
<script> var nextUrl = "{{url}}"</script>
<script>var api="{{api}}"</script>
<script type="text/javascript">
  window.history.forward();
  function noBack() { window.history.forward(); }
</script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = '/ACE/language/language4.js') }}" ></script>
</html>
