<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='ACE/language/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div id="diagrams">
        <div class="diagram">
          <img src="static\12figs\book.png" alt="book">
          <label for="diagram1">Name:</label>
          <input  type="text" id="diagram1" name="diagram1">
        </div>
        <div class="diagram">
          <img src="static/12figs/spoon.png" alt="spoon">
          <label for="diagram2">Name:</label>
          <input type="text" id="diagram2" name="diagram2">
        </div>
        <div class="diagram">
          <img src="static/12figs/goat.png" alt="goat">
          <label for="diagram3">Name:</label>
          <input type="text" id="diagram3" name="diagram3">
        </div>
        <div class="diagram">
          <img src="static/12figs/candle.png" alt="candle">
          <label for="diagram4">Name:</label>
          <input type="text" id="diagram4" name="diagram4">
        </div>
        <div class="diagram">
          <img src="static/12figs/flag.png" alt="flag">
          <label for="diagram5">Name:</label>
          <input type="text" id="diagram5" name="diagram5">
        </div>
        <div class="diagram">
          <img src="static/12figs/camel.png" alt="camel">
          <label for="diagram6">Name:</label>
          <input type="text" id="diagram6" name="diagram6">
        </div>
        <div class="diagram">
          <img src="static/12figs/sickle.png" alt="sickle">
          <label for="diagram7">Name:</label>
          <input type="text" id="diagram7" name="diagram7">
        </div>
        <div class="diagram">
          <img src="static/12figs/giraffe.png" alt="giraffe">
          <label for="diagram8">Name:</label>
          <input type="text" id="diagram8" name="diagram8">
        </div>
        <div class="diagram">
          <img src="static/12figs/timpani.png" alt="timpani">
          <label for="diagram9">Name:</label>
          <input type="text" id="diagram9" name="diagram9">
        </div>
        <div class="diagram">
          <img src="static/12figs/umbrella.png" alt="umbrella">
          <label for="diagram10">Name:</label>
          <input type="text" id="diagram10" name="diagram10">
        </div>
        <div class="diagram">
          <img src="static/12figs/pig.png" alt="pig">
          <label for="diagram11">Name:</label>
          <input type="text" id="diagram11" name="diagram11">
        </div>
        <div class="diagram">
          <img src="static/12figs/crocodile.png" alt="crocodile">
          <label for="diagram12">Name:</label>
          <input type="text" id="diagram12" name="diagram12">
        </div>
        <!-- Add more div elements for the remaining diagrams -->
      </div>
      
      <form id="form" >
        <button type="submit">Submit</button>
      </form>
      <div id="errorMessage">
        
      </div>
     <h2 id="mar"></h2>
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'ACE/language/diagrams.js') }}" ></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>  
</body>
</html>