<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/ptt.css')}}">
    <script src="{{ url_for('static', filename='script/ptt.js') }}" defer></script>
    <title>pulse-tracker-test</title>
</head>
<body>
    <div class="prompt" id="prompt">
        <div class="instruction">
            <button id="proceed" class="btn">Start</button> 
        </div>
    </div>

    <div id="exit">
        <a href="{{ url }}"><button id="exit-btn" class="btn">Exit</button></a>
    </div>

    <div id="timer-box">
        <div id="time-left-txt">Time Left</div>
        <div id="timer"></div>
    </div>

    <div class="grid" id="grid">
        <button class="box" id="box1"></button>
        <button class="box" id="box2">Tap</button> 
    </div>


    <div class="end" id="end">
        <div class="result" id="result">
            <div class="score" id="score">
                <div style="font-size: 50px;">
                    <p>&#127942;</p>
                </div>
                <div style="font-weight: 400; margin-top: 0.25rem; margin-bottom:1rem;">
                    Hurrah &#127881;! You have completed the test.
                </div>   
                <div class="num" id="right">
                    From a total of <span id="pul"> </span> pulses, you have synced with <span id="cor"></span> pulses correctly.
                </div>
                <div class="num" id="wrong">
                    You have been penalised for <span id="wrn"></span> wrong clicks.
                </div>
            </div>
        </div>
        <div id="container">
            <div class="center">
                <a href="{{ url }}"><button id="route" class="btn">Proceed</button></a>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
