<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/ptt.css')}}">
    <script src="{{ url_for('static', filename='script/ptt.js') }}" defer></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <title>pulse-tracker-test</title>
</head>
<body>
    <div class="prompt" id="prompt">
        <div class="instruction">
            <button id="proceed" class="btn">Start</button> 
        </div>
    </div>

    <div id="exit">
        <button id="exit-btn" class="btn" class="px-4 btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Exit</button>
    </div>

    <div id="timer-box">
        <div id="time-left-txt">Time Left</div>
        <div id="timer"></div>
    </div>

    <div class="grid" id="grid">
        <button class="box" id="box1"></button>
        <button class="box" id="box2">Tap</button> 
    </div>


    <div class="end" id="end">
        <div class="result" id="result">
            <div class="score" id="score">
                <div style="font-size: 50px;">
                    <p>&#127942;</p>
                </div>
                <div style="font-weight: 400; margin-top: 0.25rem; margin-bottom:1rem;">
                    Hurrah &#127881;! You have completed the test.
                </div>   
                <div class="num" id="right">
                    From a total of <span id="pul"> </span> pulses, you have synced with <span id="cor"></span> pulses correctly.
                </div>
                <div class="num" id="wrong">
                    You have been penalised for <span id="wrn"></span> wrong clicks.
                </div>
            </div>
        </div>
        <div id="container">
            <div class="center">
                <a href="{{ url }}"><button id="route" class="btn">Proceed</button></a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to exit ?</h5>
              
            </div>
            
            <div class="modal-footer" style="display:flex; justify-content: space-between;" >
              <a href="{{ url }}">
              <button type="button" class="btn btn-primary">Yes</button>
            </a>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              
            </div>
          </div>
        </div>
      </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
