<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='ACE/attention/attention3.css')}}">
   
    <title>ACE III</title>
</head>
<body>
  {% block content %}
  <div class="container">
    <div class="d-flex justify-content-center align-items-center row">
      <div class="col-md-8 col-lg-8">
         <div class="border">
          <div class="p-4 bg-primary text-white border-bottom">
           
             <span class="heading">
              <h3 >Try to memorize these words</h3>
              <h3 >You will be asked to recall them later</h3>
            </span>
            </div>
          
  
          <div class="words bg-white p-4 border-bottom">
            <div
              class="mr-5 d-flex flex-row justify-content-between align-items-center q1"
              >
              <h4 id="w1"> </h4>
                <span><button onclick="textToAudio(0)" type="button" class="btn btn-primary">🔊 Audio</button></span>
            </div>
          </div>
            <div class="words bg-white p-4 border-bottom">
                <div
                  class=" mr=5 d-flex flex-row justify-content-between align-items-center"
                  >
                  <h4 id="w2"> </h4>
                  <span><button onclick="textToAudio(1)" type="button" class="btn btn-primary">🔊 Audio</button></span>
                </div>
            </div>
            <div class="words bg-white p-4 border-bottom">
                <div
                  class="d-flex flex-row justify-content-between align-items-center q3"
                >
                <h4 id="w3"> </h4>
                  <span><button onclick="textToAudio(2)" type="button" class="btn btn-primary">🔊 Audio</button></span>
                </div>
            </div>
            <div class="bg-white p-4 border-bottom button">
                
                <!-- <button type="button"  class="px-5 btn btn-lg btn-primary">Next</button>  -->
                <a class="px-5 btn btn-lg btn-primary" href="{{ url_for('ace5') }}">Next</a>
            </div>
            
         </div>
        </div>
    </div>
  </div>
  
   {% endblock content %} 
</body>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'ACE/attention/attention3.js') }}" ></script>
</html>
