<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ACE/attention/attention124.css')}}">
    <title>Attention Test</title>
    <style>
        body {
            padding: 0 0;
            margin: 0 0;
        }

        span {
            font-size: large;
        }

        .upperdiv {
            margin: 5% auto;
        }

        #btn {
            padding: 20px 10px;
        }

        .div3 {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .div1 {
            width: 20rem;
            margin-bottom: 3rem;
            margin-left: auto;
            margin-right: auto;
        }

        .choices li {
            text-decoration: none;
            list-style: none;
        }

        @media screen and (max-width: 470px) {
            .upperdiv {
                margin: 0 0;
                margin-top: 1%;
            }

            .div3 {
                width: 100%;
                margin-left: 0;
            }

            .list-group {
                margin-left: 0;
            }

            .div1 {
                width: 20rem;
            }

            .choices .list-group-item:hover {
                background: lightgray;
                color: #ffff;
                transition: 1s linear infinite;
            }
        }

        @media screen and (max-width: 270px) {
            .upperdiv {
                margin: 0 0;
                margin-top: 1%;
            }

            .div3 {
                width: 20rem;
                margin-left: 0;
            }

            .list-group {
                margin-left: 0;
            }

            .div1 {
                width: 20rem;
            }

            .choices .list-group-item:hover {
                background: lightgray;
                color: #ffff;
                transition: 1s linear infinite;
            }
        }
    </style>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center row upperdiv">
        <!-- <div class="col-md-8 col-lg-8 column">
            <div class="card text-center div1">
                <div class="card-body">
                    <h2 class="card-title">Instructions</h2>
                    <h4 class="card-text">Subtract 7 five times and select the correct option for each subtraction
                    </h4>
                </div>
            </div>
        </div> -->
        <div class="col-md-8 col-lg-8 column">
            <div class="card div3">
                <div class="p-4 bg-primary text-white border-bottom text-center">
                    <span class="heading">
                        <h4>Subtraction of 7 from 100 five times and for each subtraction select the correct option</h4>
                    </span>
                </div>
                <!-- <h3 class="h1">Attention Test</h3> -->
                <ul class="quiz list-group">
                    <li class="list-group-item card-body " id="quest1">
                        <h4> <span>Qno1:-</span>Subtract 7 from 100</h4>

                        <ul class="choices list-group">
                            <li class="list-group-item">
                                <label onclick="selectfun(this)" ><input type="radio" onclick="chnageFun(2)" name="question0"
                                        value="A" /><span id="Cquest10">2</span></label>
                            </li>
                            <li class="list-group-item" >
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(2)" name="question0"
                                        value="B" /><span id="Cquest11">1</span></label>
                            </li>
                            <li class="list-group-item" >
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(2)" name="question0"
                                        value="C" /><span id="Cquest12">3</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(2)" name="question0"
                                        value="D" /><span id="Cquest13">4</span></label>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item card-body" id="quest2" style="display: none;">
                        <h4><span>Qno2:-</span>Subtract 7 again from result</h4>
                        <ul class="choices list-group">
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(3)" name="question1" value="A" /><span
                                        id="Cquest20">2</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(3)" name="question1" value="B" /><span
                                        id="Cquest21">1</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(3)" name="question1" value="C" /><span
                                        id="Cquest22">3</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(3)" name="question1" value="D" /><span
                                        id="Cquest23">4</span></label>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item card-body" id="quest3" style="display: none;">
                        <h4><span>Qno3:-</span>Subtract 7 again from result</h4>
                        <ul class="choices list-group">
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(4)" name="question2" value="A" /><span
                                        id="Cquest30">2</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(4)" name="question2" value="B" /><span
                                        id="Cquest31">1</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(4)" name="question2" value="C" /><span
                                        id="Cquest32">3</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(4)" name="question2" value="D" /><span
                                        id="Cquest33">4</span></label>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item card-body" id="quest4" style="display: none;">
                        <h4> <span>Qno4:-</span>Subtract 7 again from result</h4>
                        <ul class="choices list-group">
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(5)" name="question3" value="A" /><span
                                        id="Cquest40">2</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(5)" name="question3" value="B" /><span
                                        id="Cquest41">1</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(5)" name="question3" value="C" /><span
                                        id="Cquest42">3</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(5)" name="question3" value="D" /><span
                                        id="Cquest43">4</span></label>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item card-body" id="quest5" style="display: none;">
                        <h4> <span>Qno5:-</span>Subtract 7 last time</h4>
                        <ul class="choices list-group">
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(6)" name="question4" value="A" /><span
                                        id="Cquest50">2</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(6)" name="question4" value="B" /><span
                                        id="Cquest51">1</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(6)" name="question4" value="C" /><span
                                        id="Cquest52">3</span></label>
                            </li>
                            <li class="list-group-item">
                                <label onclick="selectfun(this)"><input type="radio" onclick="chnageFun(6)" name="question4" value="D" /><span
                                        id="Cquest53">4</span></label>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- <div class="text-center" id="btn" style="text-align: center;">
                    <button type="button" onclick="returnScore()" class="px-5 btn btn-primary btn-lg">Next</button>
                </div> -->
                <div class=" next-btn words bg-white p-4 border-bottom">

                    <div>

                        <button type="button" id="next-btn" class="px-4 btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModalCenter">Exit</button>

                        <!-- </div>
                    <div> -->
                        <button type="button" id="next-btn" onclick="returnScore()"
                            class="px-4 btn  btn-primary float-right">Next</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to exit ?</h5>

                </div>

                <div class="modal-footer" style="display:flex; justify-content: space-between;">
                    <a href="{{ url_for('ace_results') }}">
                        <button type="button" class="btn btn-primary">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                </div>
            </div>
        </div>
        <script>
            var nextUrl = "{{url}}" + "?name=ace13";
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        <script type="text/javascript">
            window.history.forward();
            function noBack() { window.history.forward(); }
        </script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'ACE/attention/attention4.js') }}"></script>    
</body>

</html>