<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ACE/visuospatial/vs1.css')}}">
  <!-- sweet alert-->
  <title>Language Test1</title>
</head>

<body>
  <div class="start_btn"><button>Start Test</button></div>
  <div class="quiz_box">

    <section>
      <div class="h2 que_text">
      </div>
      <div class="img-con text-center">
        <img id="main-img" class=" img img-thumbnail img-fluid" />
      </div>

      <div class="input">
        <input type="text" name="diagram" placeholder="Name" id="">
        <p id="errorMessage"></p>
      </div>
    </section>
    <footer>
      <div style="text-align: left;">
  
        <button type="button" id="next-btn" class="px-4 btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Exit</button>
      </div>
      <div class="total_que">

      </div>
      <button class="next_btn">Next</button>
    </footer>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to exit ?</h5>
          
        </div>
        
        <div class="modal-footer" style="display:flex; justify-content: space-between;" >
          <a href="{{ url_for('ace_results') }}">
          <button type="button" class="btn btn-primary">Yes</button>
        </a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          
        </div>
      </div>
    </div>
  </div>


  <!-- Result box -->
  <div class="result_box">
    <div class="icon">
      <i class="fas fa-crown"></i>
    </div>
    <div class="complete_text">You've completed the Test!</div>
    <div class="score_text">

    </div>
  </div>
  <script>
    var nextUrl = "{{url}}";
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
  </script>

  <script type="text/javascript" src="{{ url_for('static', filename = 'ACE/visuospatial/vs1.js') }}"></script>
</body>

</html>