
#diagrams {
  display: flex;
  flex-wrap: wrap;
}

#diagrams img {
  width: calc(50% - 20px);
  margin: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form label {
  margin: 10px 0;
}

#form input,
#form select {
  width: 200px;
  height: 35px;
  font-size: 16px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}
.diagram {
  display: inline-block;
  border: 5px solid rgb(181, 192, 29);
  width: 33%; /* adjust this value to control the width of each diagram */
  padding: 10px; /* adjust this value to control the padding around each diagram */
}
@media ((min-width: 0px) and (max-width: 450px)) {
  .diagram {
    display: block; /* change to display each diagram on a separate line */
    width: 100%; /* make each diagram take up the full width of the screen */
  }
}

@media ((min-width: 451px) and (max-width: 750px)) {
  .diagram {
    display: block; /* change to display each diagram on a separate line */
    width: 50%; /* make each diagram take up the full width of the screen */
  }
}
#errorMessage {
  color: red;
}


#form button {
  width: 100px;
  height: 35px;
  font-size: 16px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
