<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/TMT.css')}}">
    <script src="{{ url_for('static', filename='script/TMT.js') }}" defer></script>
    <title>Trail Making Test</title>
</head>
<body>
    <div class="prompt" id="prompt">
        <div class="instruction">
            <p id="instruction-title">Instructions</p>
            <ol id="instruction-content">
                <li> Click the circles in the 'ascending order' according to the numbers assigned. </li>
                <li> Numbers start from 1 upto 25. </li>
                <li> Don't be afraid to click wrong circle. </li>
                <li> When you click wrong circle, correct circle is highlighted by blinking colors. </li>
                <li> If you feel lost, click any circle. You will be guided to correct circle </li>
                <li> The test will end when you click the last circle. </li>
            </ol>
            <button id="proceed" class="btn">Proceed</button> 
        </div>
    </div>

    <div class="grid" id="grid" ></div>

    <div id="result"></div>
    <div id="container">
        <div class="center">
            <button id="route" class="btn">Proceed</button>
        </div>
    </div>
    
    
</body>
</html>
