<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='ACE/memory/memory2.css')}}">
    <!-- sweet alert-->
    <title>ACE III</title>
</head>
<style>
  .next-btn{
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  @media (max-width :300px){
    .next-btn{
      display: flex;
     flex-direction: column;
     justify-content: center;
     
    }
    button{
      text-align: center;
    }

  }
</style>
<body>
  {% block content %}
  <div class="container">
    <div class="d-flex justify-content-center align-items-center row">
      <div class="col-md-8 col-lg-8">
         <div class="border">
          
            <div class="p-5 bg-primary text-white border-bottom">
              <div id="heading">
                
                <h4 style=" margin-bottom: 4%;">Please record name and address. You will be asked to recall this information later.</h4>
                <h5 style="text-align: center;"id="recognition-status"></h5>
              </div>
            </div>
            
            
            <div class="words bg-white p-3 border-bottom">
              <div class="container-fluid">
                <div class="row align-items-center">
                  <div class="col-md-6 col-lg-9">
                    <h5 id="w0"></h5>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="mr-5 d-flex flex-row  justify-content-between align-items-center">
                      <button onclick="textToAudio(0)" type="button" class="audio-btn btn btn-outline-primary"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                      <button onclick="audioToText(0)" type="button"  class="record-btn btn btn-outline-primary"><i
                        class="fa fa-microphone"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>

          <div class="words bg-white p-3 border-bottom">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-6 col-lg-9">
                  <h5 id="w1"> </h5>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="mr-5 d-flex flex-row  justify-content-between align-items-center">
                    <button onclick="textToAudio(1)" type="button" class="audio-btn btn btn-outline-primary"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                    <button onclick="audioToText(1)" type="button"  class="record-btn btn btn-outline-primary"><i
                      class="fa fa-microphone"></i></button>
                  </div>
                </div>
              </div>
            </div>
            
        </div>

        <div class="words bg-white p-3 border-bottom">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-6 col-lg-9">
                <h5 id="w2"> </h5>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="mr-5 d-flex flex-row  justify-content-between align-items-center">
                  <button onclick="textToAudio(2)" type="button" class="audio-btn btn btn-outline-primary"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                  <button onclick="audioToText(2)" type="button"  class="record-btn btn btn-outline-primary"><i
                    class="fa fa-microphone"></i></button>
                </div>
              </div>
            </div>
          </div>
          
      </div>
           
      <div class="words bg-white p-3 border-bottom">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-6 col-lg-9">
              <h5 id="w3"> </h5>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="mr-5 d-flex flex-row  justify-content-between align-items-center">
                <button onclick="textToAudio(3)" type="button" class="audio-btn btn btn-outline-primary"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                <button onclick="audioToText(3)" type="button"  class="record-btn btn btn-outline-primary"><i
                  class="fa fa-microphone"></i></button>
              </div>
            </div>
          </div>
        </div>
        
    </div>

    <div class="words bg-white p-3 border-bottom">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-6 col-lg-9">
            <h5 id="w4"> </h5>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="mr-5 d-flex flex-row  justify-content-between align-items-center">
              <button onclick="textToAudio(4)" type="button" class="audio-btn btn btn-outline-primary"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
              <button onclick="audioToText(4)" type="button"  class="record-btn btn btn-outline-primary"><i
                class="fa fa-microphone"></i></button>
            </div>
          </div>
        </div>
      </div>
      
  </div>

      
            <div class=" next-btn words bg-white p-4 border-bottom">
              <div>  
              <button type="button" id="next-btn" class="px-4 btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Exit</button>
              </div>
              <div><button type="button" id="next-btn" onclick="scoring()" class="px-4 btn  btn-primary">Next</button> </div>
              
          </div> 
         </div>
        </div>
    </div>
  </div>
   <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to exit ?</h5>
        
      </div>
      
      <div class="modal-footer" style="display:flex; justify-content: space-between;" >
        <a href="{{ url_for('ace_results') }}">
        <button type="button" class="btn btn-primary">Yes</button>
      </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        
      </div>
    </div>
  </div>
</div>
   {% endblock content %} 
</body>
<script>
  var nextUrl = "{{url}}";
</script>
<script type="text/javascript">
  window.history.forward();
  function noBack() { window.history.forward(); }
</script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'ACE/memory/memory2.js') }}" ></script>
</html>
