<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='ACE/memory/memory3.css')}}">
    <!-- sweet alert-->
    <title>Grammar</title>
</head>
<body>
  {% block content %}
  <div class="container">
    <div class="d-flex justify-content-center align-items-center row">
      <div class="col-md-8 col-lg-8">
         <div class="border">
          
            <div class="p-5 bg-primary text-white border-bottom">
              
                <h4 id ="heading" style=" margin-bottom: 4%;">Please enter the name and address previously displayed, in the designated input fields for them.</h4>
                <h5 style="text-align: center;"id="recognition-status"></h5>
                <h5 id="hint"></h5>
             
            </div>
          
        <form id="myForm" method="POST">
          <div id="box0" class="words bg-white p-2 border-bottom">
            
              <div class="mr-5 d-flex flex-row justify-content-between align-items-center q1">
                <label for="name">Name</label>
              </div>
              <input type="text" id="0" name="name" placeholder="Type text here" maxlength="130">
            </div>

              <div id="box1" class="words bg-white p-2 border-bottom">
                <div class="mr-5 d-flex flex-row justify-content-between align-items-center">
                  <label for="street">Street</label>
                </div>
                <input type="text" id="1" name="street" placeholder="Type text here" maxlength="130">
              </div>
              
              <div id="box2" class="words bg-white p-2 border-bottom">
                <div class="mr-5 d-flex flex-row justify-content-between align-items-center">
                  <label for="locality">Locality</label>
                </div>
                <input type="text" id="2" name="locality" placeholder="Type text here" maxlength="130">
              </div>

              <div id="box3" class="words bg-white p-2 border-bottom">
                <div class="mr-5 d-flex flex-row justify-content-between align-items-center">
                  <label for="district">District</label>
                </div>
                <input type="text" id="3" name="district" placeholder="Type text here" maxlength="130">
              </div>

              <div id="box4" class="words bg-white p-2 border-bottom">
                <div class="mr-5 d-flex flex-row justify-content-between align-items-center">
                  <label for="state">State</label>
                </div>
                <input type="text" id="4" name="state" placeholder="Type text here" maxlength="130">
              </div>
             
          <!-- //buttons -->
           <div class="button words bg-white p-2 border-bottom">
            <!-- Button trigger modal -->
            <div class="d-flex flex-row justify-content-between align-items-center hints" id="Hint-modal">
                  <span><button type="button" class="px-5 btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   Hints
                  </button></span>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLabel">Hints</h4>
                          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <span><a id="next-btn" class="px-5 btn  btn-primary">Next</a></span>       
          </div>
                    
     </form>
   
         </div>
        </div>
    </div>
  </div>

   {% endblock content %} 
</body>
<script>
  var nextUrl = "{{url}}"+"?name=vs1";
</script>
<script type="text/javascript">
  window.history.forward();
  function noBack() { window.history.forward(); }
</script>
<script type = "text/javascript" src = "{{ url_for('static', filename = '/ACE/memory/memory3.js') }}" >

</script>
</html>
