<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Memory Test</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ACE/memory/memory4.css')}}">
  <style>
    body{
      background-color: #eee;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center row">
      <div class="col-md-8 col-lg-8 column">
        <!-- <div class="card text-center" style="width: 20rem; margin-bottom: 0.8rem; margin-left: auto; margin-right: auto;">
          <div class="card-body">
            <h2 class="card-title">Instructions</h2>
            <p class="card-text">Answer the following four questions...</p> -->
            <!-- <a href="" class="btn btn-primary">Read More...</a> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center row">
      <div class="col-md-8 col-lg-8 column">
        <div class="border">
          <div class="p-5 bg-primary text-white border-bottom">
            <!-- heading -->
            <div id="heading">
              <h4>Answer the following questions </h4>


              <h5 id="recognition-status"></h5>
            </div>
          </div>

          <div class="q1 bg-white p-4 border-bottom">
            <div class="d-flex flex-row justify-content-between align-items-center q1">
              <!-- write question in h5 -->
              <h5>What is the Capital of India?</h5>
              <h5 id="text0" class="word"></h5>
              <span><button onclick="audioToText(0)" type="button" class="btn btn-outline-primary"><i
                    class="fa fa-microphone"></i></button></span>
            </div>
          </div>


          <div class="q2 bg-white p-4 border-bottom">
            <div class="d-flex flex-row justify-content-between align-items-center q2">
              <h5>Which is the National Animal of India?</h5>
              <h5 id="text1" class="word"></h5>
              <span><button onclick="audioToText(1)" type="button" class="btn btn-outline-primary"><i
                    class="fa fa-microphone"></i></button></span>
            </div>
          </div>
          <div class="q3 bg-white p-4 border-bottom">
            <div class="d-flex flex-row justify-content-between align-items-center q3">
              <h5>Name the actor who was hero in the film 'Ek tha Tiger'</h5>
              <h5 id="text2" class="word"></h5>
              <span><button onclick="audioToText(2)" type="button" class="btn btn-outline-primary"><i
                    class="fa fa-microphone"></i></button></span>
            </div>
          </div>
          <div class="q3 bg-white p-4 border-bottom">
            <div class="d-flex flex-row justify-content-between align-items-center q3">
              <h5>Name the Father of our Nation</h5>
              <h5 id="text3" class="word"></h5>
              <span><button onclick="audioToText(3)" type="button" class="btn btn-outline-primary"><i
                    class="fa fa-microphone"></i></button></span>
            </div>
          </div>

         
          <!-- //buttons -->
          <div class="button words bg-white p-4 border-bottom">
        
              <!-- <span id="btn-score"><button type="button" onclick="refreshPage()" class="px-5 btn btn-lg btn-primary"> <i
                     class="fa fa-refresh"></i></button> </span>  -->
              <!-- <span id="btn-score"><button type="button" onclick="scoring()"
                  class="px-5 btn btn-lg btn-danger">Stop</button> </span> -->
                  <button type="button" onclick="scoring()" class="px-5 btn btn-lg btn-primary">Next</button>
            
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
<script>let nextUrl="{{url}}"</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'ACE/memory/memory4.js') }}"></script>
<script src="index.js"></script>
</html>