body{
    background-color:#eee;
}
.container{
    margin-top: 6%;
}
.button{
    display: flex;
    align-items: center;
    justify-content:center;
}
#heading{
    text-align: center;
    
}
#h3heading{
    font-size: 2em;
    
}
#recognition-status {
    margin-top: 5%;
    font-size: 1.5em;
    color:black;
}
.word{
    color: red;
}