<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout/navbar.css')}}" />
</head>
<body>
    <section class="navigation">
        <div class="nav-container">
          <div class="brand">
            <a href="#!">FTD</a>
          </div>
          <nav>
            <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
              <li>
                <a href="#!">Home</a>
              </li>
              <li>
                <a href="#!">Docs</a>
              </li>
              <li>
                <a href="#!">Tests</a>
                <ul class="navbar-dropdown">
                  <li>
                    <a href="#!">ACE III</a>
                  </li>
                  <li>
                    <a href="#!">TMT </a>
                  </li>
                  <li>
                    <a href="#!">Emotion Recognition</a>
                  </li>
                </ul>
              </li>
              <li>
                
                <a href="#!">Login</a>
              </li>
             
              <li>
                <a href="#!">Sign Up</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
      <div class="lefttext">
        <div class="textwrap">
            <h1>
                Lionel Messi
            </h1>
            <p>
                Lionel Andrés Messi (born 24 June 1987), also known as Leo Messi, is an Argentine professional footballer who captains the Argentina national team and plays for Ligue 1 club Paris Saint-Germain.
            </p>
            <button>World Cup 2022</button>
        </div>
        

    </div>
    <div class="rightimage">
        <img src="https://www.alzheimercalgary.ca/content/image/200109-101334/LEARN_-_Types_of_Dementia-_IMAGE_-_lobes_of_the_brain.jpg">
    </div>
</div>
      
    
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename = 'layout/navbar.js') }}"></script>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   </html>