<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='emojirecog/emojrecog.css')}}"
    />
  </head>
  <body >
  {% block content %}
  <h1 id="scored"></h1>
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
          <div class="border">
            <div class="question bg-white p-3 border-bottom">
              <div
                class="d-flex flex-row justify-content-between align-items-center mcq"
              >
                <!-- <h4 id="correct" value="{{data['questions'][count]['correct']}}">{{data['questions'][count]['correct']}}</h4> -->
              
                
                <span>{{count+1}} of 10</span>
                
              </div>
            </div>

            <div class="question bg-white p-3 border-bottom">
              <div class="big align-items-center question-title">
                <div>
                  <h5 class="head mt-1 ml-2">
                    Which of the following represents the given emotion?
                  </h5>
                </div>
                <div class="img-con">
                  <img
                    class="img img-thumbnail img-fluid"
                    src="{{url_for('static', filename='images/' +path)}}"
                  />
                </div>
              </div>
              <form method="POST" action="/emojrecog">
              <div class="option ans ml-2">
                <label class="radio">
                  <input type="radio" name="optiond" value="{{data['questions'][count]['options'][0]}}" />
                  <span>{{data['questions'][count]['options'][0]}}</span>
                </label>
              </div>
              <div class="option ans ml-2">
                <label class="radio">
                  <input type="radio" name="optiond" value="{{data['questions'][count]['options'][1]}}" />
                  <span>{{data['questions'][count]['options'][1]}}</span>
                </label>
              </div>
              <div class="option ans ml-2">
                <label class="radio">
                  <input type="radio" name="optiond" value="{{data['questions'][count]['options'][2]}}" />
                  <span>{{data['questions'][count]['options'][2]}}</span>
                </label>
              </div>
              <div class="option ans ml-2">
                <label class="radio">
                  <input type="radio" name="optiond" value="{{data['questions'][count]['options'][3]}}" />
                  <span>{{data['questions'][count]['options'][3]}}</span>
                </label>
              </div>
            </div>
            <div
              class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"
            >
              <!-- <button
                class="btn btn-primary d-flex align-items-center btn-danger"
                type="button"
              >
                <i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button
              >
             
              <button
                class="btn btn-primary border-success align-items-center btn-success"
                  
              >

                Next<i class="fa fa-angle-right ml-2"></i>
                
              </button> -->
              <a  type="submit" value="submit" class="btn btn-primary border-success align-items-center btn-success" onclick="fun()" class="ml-2" 
              href="javascript:void()" >Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
    {% endblock content %}
   
  
      
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'emojrecog/emojrecog.js') }}" ></script>

<script>
  var s=0;

 function fun(){
  if("{{count}}"==0){
  
    localStorage.clear()
  }


  var checkRadio = document.querySelector(
    'input[name="optiond"]:checked');
 const sfg=document.getElementById('scx')
 s=localStorage.getItem("scor");
if(checkRadio != null) {
  let CheckedValue=checkRadio.value.toLowerCase();
 
  let Correct="{{data['questions'][count]['correct']}}"

  if(CheckedValue===Correct){

s++;

localStorage.setItem("scor", s);


  }
 
  
  window.location.href="{{url_for('emojrecog') }}?count={{count+1}}"

}
else {
    alert("select option")

}
sfg.innerHTML=s;




 } 



</script>




    <script type = "text/javascript" src = "{{ url_for('static', filename = 'emojirecog/emojrecog.js') }}" ></script>
  </body>
</html>